# Build outputs
build-fprime-automatic-*
build-artifacts/

# Python
fprime-venv/
__pycache__/
*.pyc

# Generated deployment files
Deployments/*/CMakeLists.txt
Deployments/*/logs/
Deployments/*/generated/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Editor junk
*~
*.bak
